@inherits LayoutComponentBase
@inject ApplicationData Data

@if (Data.IsLoggedIn)
{
<div class="page">
    <div style="background-image:none;background-color:lightgreen;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://freesome.totalimagine.com/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>   
}
else
{
<div class="page">
    <main style="background-image:none;background-color:lightgreen;">
        <article class="content px-4">
            <h1>Freesome</h1>
            <h3>Born Out of Desire</h3>
            <div>
                <h5>Login</h5>
                <p>Phone Number: <TextEdit @bind-Text="@Number" /></p>
                <Button Color="Color.Primary">Login</Button>
            </div>
        </article>
    </main>
</div>   
}

@code{
    private string Number;
}