@page "/account"
@inject ClientData Data
@inject NavigationManager NavManager

<h1>Account</h1>

<ul>
    <li>Registered user since (DATE)</li>
    <li>Current Hotel Rating: (HOTEL LEVEL)</li>
    <li>Total Donation: (AMOUNT)</li>
</ul>

<Button Color="Color.Danger" Clicked="@OnDestroyAccountButtonClicked">Destroy Account</Button>
<Button Color="Color.Secondary" Clicked="@OnLogoutButtonClicked">Logout</Button>

@code {
    void OnDestroyAccountButtonClicked()
    {
        return;
    }
    void OnLogoutButtonClicked()
    {
        Data.LoginCredential = string.Empty;
        SecureStorage.Default.Remove(nameof(Data.LoginCredential));
        NavManager.NavigateTo("/");
    }
}
