@page "/"
@using Freesome.Data
@inject ApplicationData Data

<p>Welcome @Data.Username! Below is the latest community news.</p>

<h1>Community News</h1>

<iframe src="https://seekingmate.github.io/SeekingMate/" title="Freesome Online News" style="height: 120em; height: 100%"></iframe>
