@page "/"
@using Freesome.Data
@inject ApplicationData Data

<p>Welcome @Data.Nickname! Below is the latest community news.</p>

<h1>Community News</h1>

<ul>
    @foreach (var item in News ?? Array.Empty<News>())
    {
        <li>item</li>
    }
</ul>

@code{
    private News[] News;
    protected override async Task OnInitializedAsync()
    {
        News = await ServerAPIHelper.GetNews();
        await base.OnInitializedAsync();
    }
}