@page "/profile"
@inject ApplicationData Data

<h1>Profile</h1>

<TextEdit Text="@Data.Username" TextChanged="@OnNameChanged" />

@code {
    async void OnNameChanged(string value)
    {
        Data.Username = value;
        await SecureStorage.Default.SetAsync(nameof(Data.Username), value ?? string.Empty);
    }
}
